.ron-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.ron-architect {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ron-image {
  width: 200px;
  object-fit: cover;
}
.ron-fragment1 {
  display: contents;
}
.ron-text3 {
  display: inline-block;
}
.ron-fragment2 {
  display: contents;
}
.ron-text4 {
  display: inline-block;
}
